accelerate
backoff
beautifulsoup4
CairoSVG
datasets
editdistance
htmlmin
lxml
nltk
omegaconf
openai
peft==0.13.2
pillow
pydot
scikit-learn
scipy
timeout-decorator
torchmetrics
tqdm
transformers==4.48.2
wandb
zss
