accelerate
attrdict
backoff
beautifulsoup4
CairoSVG
datasets
editdistance
htmlmin
hydra-core
lxml
nltk
omegaconf
openai
pillow
pydot
scikit-learn
scipy
timeout-decorator
timm
torchmetrics
tqdm
transformers==4.38.2
wandb
zss
