accelerate
attrdict==2.0.1
backoff
beautifulsoup4
CairoSVG
datasets
editdistance
htmlmin
lxml
nltk
omegaconf
openai
pillow
pydot
scikit-learn
scipy
timeout-decorator
timm==1.0.15
torchmetrics
tqdm
transformers==4.38.2
wandb
zss
